<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bakorwil.ejsc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".configfile.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">

        <activity
            android:name=".botnav.event.EventActivity"
            android:configChanges="orientation"
            android:label="@string/event"
            android:parentActivityName=".BottomNavigation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".botnav.event.DetailEventActivity" />
        <activity android:name=".akun.EditAkunActivity" />
        <activity
            android:name=".botnav.beranda.NotifikasiActivity"
            android:configChanges="orientation"
            android:label="@string/notifikasi"
            android:parentActivityName=".BottomNavigation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.ResetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.KodeResetActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.LupaPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.DaftarActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".BottomNavigation"
            android:configChanges="orientation"
            android:label="@string/title_activity_bottom_navigation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".IntroSlider"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>