<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bakorwil.ejsc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".configfile.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".botnav.booking.FormBookingActivity"
            android:configChanges="orientation"
            android:label="@string/form_booking"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".botnav.booking.DetailRuanganActivity"
            android:configChanges="orientation"
            android:label="@string/detail_ruangan"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.WebViewLupaPasswordActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".botnav.event.EventActivity"
            android:configChanges="orientation"
            android:label="@string/event"
            android:parentActivityName=".main.BottomNavigation"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".botnav.event.DetailEventActivity" />
        <activity
            android:name=".akun.EditAkunActivity"
            android:configChanges="orientation"
            android:label="@string/edit_akun"
            android:parentActivityName=".main.BottomNavigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".botnav.beranda.NotifikasiActivity"
            android:configChanges="orientation"
            android:label="@string/notifikasi"
            android:parentActivityName=".main.BottomNavigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.DarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.ResetPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.KodeResetActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.LupaPasswordActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.UploadFotoKtpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.DaftarActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".akun.LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".main.BottomNavigation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".main.SplashScreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".main.IntroSlider"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionDarkGreen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>